%html
	%head
		%title employer
	%body
		-  c = Company.find_by_employer_id(current_employer.id) 
		- if c.nil? && current_employer.role==1
			-e=Employer.find_by_id(current_employer.id)
			%h2= e.company_name
			
		-elsif c.nil? && current_employer.role==2
			-c = Company.find_by_employer_id(current_employer.user_employer_id)
			
			%h2= c.company_name  
			%h4= c.company_address
			%h4= c.company_website
			
		-else
			%h2= c.company_name 
			%h4= c.company_address
			%h4= c.company_website
			
				

		-if flash[:message] 
			= flash[:message]


			  
		%br/

		%br/
		%a{:href => "/employer/edit_info"}Update company info
		%br/
		
		%a{:href => "/employer/assets"}asset management
		%br/
		-if current_employer.role == 1
			%a{:href => "/employer/employee"}Employees
			%br/
			%a{:href => "/employer/users"}users
			%br/
		%form{:action=> "/employer/search_employee", :method => "get"}
			Search for employees:
			%input{ :type => "search", :name => "search_employee"}
			( you can search by name, employer ID, email ID and section of the employee)
			%br/
		
		
		-if current_employer.role==2	
			%button{:onclick => "myFunction2()", :type => "button"} employees list
			%br/



		:javascript
			function myFunction2() { 
			document.getElementById("create").style.display = "block";}

		%div#create
			:css
				#create {display:none;}
				table, th, td {border: 1px solid black;}
				table {border-collapse: collapse;}
				a {text-decoration: none;} 
			%table
				%tr
					%th  Name
					%th  email id
				%tr
					-Employee.where(employer_id: current_employer.user_employer_id).find_each do |t|
						%td 
							%a{ :href =>"/employer/employee/#{t.employee_id}"}= t.name 
						%td= t.email
						%tr

		%button{:onclick => "myFunction()", :type => "button"} 
			Change Password
			/ -if current_employer.role == 1
			/ 	Edit Admin Details
			/ -else
				
		:javascript
			function myFunction() { document.getElementById("mydiv").style.display = "block"; }
		%div#mydiv
			:css
				#mydiv {display:none;}
			%form{:action => "/employer/edit/#{current_employer.id}", :method => "get"}
				/ -if current_employer.role==1
				/ 	Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				/ 	%input{ :type => "text", :name => "name"}
				/ 	%br/
				/ 	email ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				/ 	%input{:name => "email", :type => "email"}
				/ 	%br/
				
								
				New Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				%input{:name => "password", :type => "password"}
				%br/
				
				Confirm Password:
				%input{:name => "password_confirmation", :type => "password"}
				%br/
				
				
				%input{:type => "submit", :value => "Submit"}
		
				%br/
		%br/

	%button{:onclick => "myFunction3()", :type => "button"} Recieved Messages
    
	:javascript
		function myFunction3() { 
			document.getElementById("message").style.display = "block";}
	%div#message
		:css
			#message {display:none;}
			table, th, td {border: 1px solid black; text-align : left;}
			table {border-collapse: collapse;}
			a {text-decoration: none;} 
		%table
			%tr
				%th  Message
				%th  Sender
				%th  sent at:
			%tr
			-Message.order("created_on DESC").where(reciever_id: current_employer.id).find_each do |t|
				%td
					%a{ :href => "/employer/message/archive/#{t.id}"}= t.message 
				%td
					=Employee.find_by_employee_id(t.sender_id).name
				%td= t.created_at
				%tr
		%p click on the message to archive
	%br/
	%button{:onclick => "myFunction4()", :type => "button"}  Sent Messages
	:javascript
		function myFunction4() { 
			document.getElementById("message1").style.display = "block";}
	%div#message1
		:css
			#message1 {display:none;}
			table, th, td {border: 1px solid black; text-align : left;}
			table {border-collapse: collapse;}
			a {text-decoration: none;} 
		%table
			%tr
				%th  Message
				%th  Sent to:
				%th  sent at:
			%tr
			-Message.where(sender_id: current_employer.id).order("DESC").find_each do |t|
				%td
					%a{ :href => "/employer/message/archive/#{t.id}"}= t.message 
				%td=Employee.find_by_employee_id(t.reciever_id).name
				%td= t.created_at
				%tr
		%p click on the message to archive
	%br/
	%button{:onclick => "myFunction5()", :type => "button"}  Archived Messages(Recieved)
	:javascript
		function myFunction5() { 
			document.getElementById("message3").style.display = "block";}
	%div#message3 
		:css
			#message3 {display:none;}
			table, th, td {border: 1px solid black; text-align : left;}
			table {border-collapse: collapse;}
			a {text-decoration: none;} 
		%table
			%tr
				%th  Message
				%th  Sent by:
				%th  sent at:
				/ %th  
				/ %th  Message
				/ %th  Sent to:
				/ %th  sent at:
			%tr
			/ -Message.where(sender_id: current_employer.id, archive: 1).order("DESC").find_each do |t|
			
			/ 	%td
			/ 		%a{ :href => "/employer/message/unarchive/#{t.id}"}= t.message 
			/ 	%td=Employee.find_by_employee_id(t.reciever_id).name
			/ 	%td= t.created_at
			/ 	%td		
			-Message.where(reciever_id: current_employer.id, archive: 1).order("DESC").find_each do |s|		
				%td
					%a{ :href => "/employer/message/unarchive/#{s.id}"}= s.message 
				%td=Employee.find_by_employee_id(s.sender_id).name
				%td= s.created_at
				%tr
	%br/
	%button{:onclick => "myFunction6()", :type => "button"}  Archived Messages(sent)
	:javascript
		function myFunction6() { 
			document.getElementById("message4").style.display = "block";}
	%div#message4 
		:css
			#message4 {display:none;}
			table, th, td {border: 1px solid black; text-align : left;}
			table {border-collapse: collapse;}
			a {text-decoration: none;} 
		%table
			%tr
				/ %th  Message
				/ %th  Sent by:
				/ %th  sent at:
				/ %th  
				%th  Message
				%th  Sent to:
				%th  sent at:
			%tr
			-Message.where(sender_id: current_employer.id, archive: 1).order("DESC").find_each do |t|
			
				%td
					%a{ :href => "/employer/message/unarchive/#{t.id}"}= t.message 
				%td=Employee.find_by_employee_id(t.reciever_id).name
				%td= t.created_at
				%tr		
			/ -Message.where(reciever_id: current_employer.id, archive: 1).order("DESC").find_each do |s|		
			/ 	%td
			/ 		%a{ :href => "/employer/message/unarchive/#{s.id}"}= s.message 
			/ 	%td=Employee.find_by_employee_id(s.sender_id).name
			/ 	%td= s.created_at
			/ 	%tr
	%br/
	%br/
	%a{ :href => "/employer/newsletter"}Schedule Newsletter
	%br/
	%a{ :href => "/logout"}Logout
			