%html
	%head 
		%title profile
		
	%body
		:css
			table, th, td{ border: 1px solid black; text-align: left; }
			table, tr, td, th{border-collapse: collapse;}
			caption {font-size : 20px; font-weight: bold ; font-style : italic;}

		- employee= Employee.find_by_id($id)
		
		%table
			%caption= employee.name
			%tbody
				%tr
					%th email
					%td= employee.email
					%br/
				%tr
					%th Date of Birth
					%td= employee.date_of_birth
					%br/
				%tr
					%th Address
					%td= employee.address
					%br/
				%tr
					%th Date of employment commenced
					%td= employee.date_of_joining
					%br/
				%tr
					%th employment status
					%td= employee.employment_status
					%br/
				%tr
					%th section
					%td= employee.section
					%br/

		%form{ :action => "/employer/employee/#{$id}/edit", :method => "get"}
			%input{ :type => "submit", :value => "edit info"}
		
		-p $id
		%a{:href => "/employer/employee"}back

